/* css file created as exported for addon [Html Import], collection [Html Import] in site [app200509] */
#hiSelectLayoutId {
    display:none;
}
#hiSelectPageTemplateId {
    display:none;
}
#hiSelectEmailTemplateId {
    display:none;
}
#hiSelectEmailId {
    display:none;
}